<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <h1 class="text-center">Here are some of my projects</h1>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <div class="card text-center">
                        <div class="card-header"><a href="http://my-awwards.herokuapp.com/">AWWARDS</a></div>
                        <div class="card-body">
                            <p class="card-text">This django app will allow a user to post a project and have it reviewed by other users.</p>
                            <p class="card-text">The user can also review other projects posted by other users</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn blue-gradient" href="https://github.com/derrokip34/Awwards">View repository</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h5 class="text-center">AWWARDS LANDING PAGE</h5>
                    <img src="assets/images/awwards.png" width="700">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-7">
                    <h5 class="text-center">FRONEWS LANDING PAGE</h5>
                    <img src="assets/images/fronews.png" width="700">
                </div>
                <div class="col-md-5">
                    <div class="card text-center">
                        <div class="card-header"><a href="http://fronews.herokuapp.com/">FRONEWS</a></div>
                        <div class="card-body">
                            <p class="card-text">This is a flask app where one can view various news sources based on categories, articles from these sources and top headlines</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn blue-gradient" href="https://github.com/derrokip34/News">View repository</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
    </body>