<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">SKILLS</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="text-center">Python</h3>
                    <img src="assets/images/python.png" style="display: block;margin-left: auto;margin-right: auto;width: 40%;">
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Django</h3>
                    <img src="assets/images/django.png" style="display: block;margin-left: auto;margin-right: auto;width: 40%;">
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">Flask</h3>
                    <img src="assets/images/flask.png" style="display: block;margin-left: auto;margin-right: auto;width: 40%;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="text-center">HTML</h3>
                    <img src="assets/images/html.png" style="display: block;margin-left: auto;margin-right: auto;width: 40%;">
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">JavaScript</h3>
                    <img src="assets/images/js.jpeg" style="display: block;margin-left: auto;margin-right: auto;width: 40%;">
                </div>
                <div class="col-md-4">
                    <h3 class="text-center">CSS</h3>
                    <img src="assets/images/css.png" style="display: block;margin-left: auto;margin-right: auto;width: 40%;">
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
    </body>